{% comment %}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }
  {%- endstyle -%}
{%- endif -%}

<div id="Banner-{{ section.id }}" class="banner banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
      >
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}">
      <img
        srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image_2 | img_url: 'master' }} {{ section.settings.image_2.width }}w"
        sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image_2.alt | escape }}"
        width="{{ section.settings.image_2.width }}"
        height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
        {% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
      >
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_text_box_position }} page-width">
    <div class="banner__box color-{{ section.settings.color_scheme }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
            <div class="banner__text" {{ block.shopify_attributes }}>
              <span>{{ block.settings.text | escape }}</span>
            </div>
          {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_label_1 != blank -%}
                <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% endcomment %}

{{ 'main.5ddd1122.chunk.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign heading_font_bold = section.settings.banner_heading_font | font_modify: 'weight', 'bold'
  assign heading_font_italic = section.settings.banner_heading_font | font_modify: 'style', 'italic'
  assign heading_font_bold_italic = heading_font_bold | font_modify: 'style', 'italic'
  
  assign subheading_font_bold = section.settings.banner_subheading_font | font_modify: 'weight', 'bold'
  assign subheading_font_italic = section.settings.banner_subheading_font | font_modify: 'style', 'italic'
  assign subheading_font_bold_italic = subheading_font_bold | font_modify: 'style', 'italic'
  
  assign button_font_bold = section.settings.banner_button_font | font_modify: 'weight', 'bold'
  assign button_font_italic = section.settings.banner_button_font | font_modify: 'style', 'italic'
  assign button_font_bold_italic = button_font_bold | font_modify: 'style', 'italic'
%}

{% style %}
  .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      background-color: #A9A9A9;
      border-radius: 50%;
      transition: background-color 0.6s ease;
  }
  .dot-active, .dot:hover {
      background-color: #000;
  }
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }
  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  {% unless section.settings.image_overlay_opacity == 0 %}
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{% endunless %}
  
  {{ section.settings.banner_heading_font | font_face }}
  {{ heading_font_bold | font_face: font_display: 'swap' }}
  {{ heading_font_italic | font_face: font_display: 'swap' }}
  {{ heading_font_bold_italic | font_face: font_display: 'swap' }}

  {{ section.settings.banner_subheading_font | font_face }}
  {{ subheading_font_bold | font_face: font_display: 'swap' }}
  {{ subheading_font_italic | font_face: font_display: 'swap' }}
  {{ subheading_font_bold_italic | font_face: font_display: 'swap' }}

  {{ section.settings.banner_button_font | font_face }}
  {{ button_font_bold | font_face: font_display: 'swap' }}
  {{ button_font_italic | font_face: font_display: 'swap' }}
  {{ button_font_bold_italic | font_face: font_display: 'swap' }}

  .banner_heading {
    font-family: {{ section.settings.banner_heading_font.family }}, {{ section.settings.banner_heading_font.fallback_families }}
  }

  .banner_subheading {
    font-family: {{ section.settings.banner_subheading_font.family }}, {{ section.settings.banner_subheading_font.fallback_families }}
  }

  .banner_button {
    font-family: {{ section.settings.banner_button_font.family }}, {{ section.settings.banner_button_font.fallback_families }}
  }
{% endstyle %}

{%- unless section.settings.banner_heading_font.system? -%}
  <link rel="preload" as="font" href="{{ section.settings.banner_heading_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}

{%- unless section.settings.banner_subheading_font.system? -%}
  <link rel="preload" as="font" href="{{ section.settings.banner_subheading_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}

{%- unless section.settings.banner_button_font.system? -%}
  <link rel="preload" as="font" href="{{ section.settings.banner_button_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}

{% if section.blocks.size > 0 %}
  <div id="Banner-{{ section.id }}" class="md:relative banner">
    {% for block in section.blocks %}
        <div class="relative banner-slide fade md:h-screen" {{ block.shopify_attributes }}>
          <div class="hidden md:block h-full bg-cover bg-center overflow-hidden w-full relative">
            {% if block.settings.large_image == blank and block.settings.small_image == blank %}
              <div class="absolute w-full pointer-events-none -z-1 h-full object-cover placeholder">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% else %}
              <img
              srcset="{%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 180 -%}{{ block.settings.large_image | img_url: '180x' }} 180w 80h,{% endif -%}{%- elsif block.settings.small_image.width >= 180 -%}{{ block.settings.small_image | img_url: '180x' }} 180w 80h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 360 -%}{{ block.settings.large_image | img_url: '360x' }} 360w 159h,{% endif -%}{%- elsif block.settings.small_image.width >= 360 -%}{{ block.settings.small_image | img_url: '360x' }} 360w 159h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 540 -%}{{ block.settings.large_image | img_url: '540x' }} 540w 239h,{% endif -%}{%- elsif block.settings.small_image.width >= 540 -%}{{ block.settings.small_image | img_url: '540x' }} 540w 239h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 720 -%}{{ block.settings.large_image | img_url: '720x' }} 720w 319h,{% endif -%}{%- elsif block.settings.small_image.width >= 720 -%}{{ block.settings.small_image | img_url: '720x' }} 720w 319h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 900 -%}{{ block.settings.large_image | img_url: '900x' }} 900w 398h,{% endif -%}{%- elsif block.settings.small_image.width >= 900 -%}{{ block.settings.small_image | img_url: '900x' }} 900w 398h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 1080 -%}{{ block.settings.large_image | img_url: '1080x' }} 1080w 478h,{% endif -%}{%- elsif block.settings.small_image.width >= 1080 -%}{{ block.settings.small_image | img_url: '1080x' }} 1080w 478h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 1296 -%}{{ block.settings.large_image | img_url: '1296x' }} 1296w 574h,{% endif -%}{%- elsif block.settings.small_image.width >= 1296 -%}{{ block.settings.small_image | img_url: '1296x' }} 1296w 574h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 1512 -%}{{ block.settings.large_image | img_url: '1512x' }} 1512w 669h,{% endif -%}{%- elsif block.settings.small_image.width >= 1512 -%}{{ block.settings.small_image | img_url: '1512x' }} 1512w 669h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 1728 -%}{{ block.settings.large_image | img_url: '1728x' }} 1728w 765h,{% endif -%}{%- elsif block.settings.small_image.width >= 1728 -%}{{ block.settings.small_image | img_url: '1728x' }} 1728w 765h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 1950 -%}{{ block.settings.large_image | img_url: '1950x' }} 1950w 863h,{% endif -%}{%- elsif block.settings.small_image.width >= 1950 -%}{{ block.settings.small_image | img_url: '1950x' }} 1950w 863h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 2100 -%}{{ block.settings.large_image | img_url: '2100x' }} 2100w 930h,{% endif -%}{%- elsif block.settings.small_image.width >= 2100 -%}{{ block.settings.small_image | img_url: '2100x' }} 2100w 930h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 2260 -%}{{ block.settings.large_image | img_url: '2260x' }} 2260w 1001h,{% endif -%}{%- elsif block.settings.small_image.width >= 2260 -%}{{ block.settings.small_image | img_url: '2260x' }} 2260w 1001h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 2450 -%}{{ block.settings.large_image | img_url: '2450x' }} 2450w 1085h,{% endif -%}{%- elsif block.settings.small_image.width >= 2450 -%}{{ block.settings.small_image | img_url: '2450x' }} 2450w 1085h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 2700 -%}{{ block.settings.large_image | img_url: '2700x' }} 2700w 1195h,{% endif -%}{%- elsif block.settings.small_image.width >= 2700 -%}{{ block.settings.small_image | img_url: '2700x' }} 2700w 1195h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 3000 -%}{{ block.settings.large_image | img_url: '3000x' }} 3000w 1328h,{% endif -%}{%- elsif block.settings.small_image.width >= 3000 -%}{{ block.settings.small_image | img_url: '3000x' }} 3000w 1328h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 3350 -%}{{ block.settings.large_image | img_url: '3350x' }} 3350w 1483h,{% endif -%}{%- elsif block.settings.small_image.width >= 3350 -%}{{ block.settings.small_image | img_url: '3350x' }} 3350w 1483h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 3750 -%}{{ block.settings.large_image | img_url: '3750x' }} 3750w 1660h,{% endif -%}{%- elsif block.settings.small_image.width >= 3750 -%}{{ block.settings.small_image | img_url: '3750x' }} 3750w 1660h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{%- if block.settings.large_image.width >= 3840 -%}{{ block.settings.large_image | img_url: '3840x' }} 3840w 1700h,{% endif -%}{%- elsif block.settings.small_image.width >= 3840 -%}{{ block.settings.small_image | img_url: '3840x' }} 3840w 1700h,{%- endif -%}
              {%- if block.settings.large_image != blank -%}{{ block.settings.large_image | img_url: 'master' }} {{ block.settings.large_image.width }}w {{ block.settings.large_image.width }}h {% else %} {{ block.settings.small_image | img_url: 'master' }} {{ block.settings.small_image.width }}w {{ block.settings.small_image.width }}h{%- endif -%}"
              src="{%- if block.settings.large_image != blank -%}{{ block.settings.large_image | img_url: '1512x' }}{%- else -%}{{ block.settings.small_image | img_url: '1512x' }}{%- endif -%}"
              alt="{%- if block.settings.large_image != blank -%}{{ block.settings.large_image.alt | escape }}{%- else -%}{{ block.settings.small_image.alt | escape }}{%- endif -%}"
              class="absolute w-full pointer-events-none -z-1 h-full object-cover"
              loading="lazy"
              width="{%- if block.settings.large_image != blank -%}{{ block.settings.large_image.width }}{%- else -%}{{ block.settings.small_image.width }}{%- endif -%}"
              height="{%- if block.settings.large_image != blank -%}{{ block.settings.large_image.height }}{%- else -%}{{ block.settings.small_image.height }}{%- endif -%}"
              >
            {% endif %}
            <div class="overlay"></div>
            <div class="flex container w-full h-full relative items-{{ section.settings.vertical_content_position }} justify-{{ section.settings.horizontal_content_position }}">
                <div class="{%if section.settings.horizontal_content_position == 'start' %}ml-40 {%endif%} {%if section.settings.horizontal_content_position == 'end' %}mr-40 text-right {% endif %}{% if section.settings.vertical_content_position == 'start' %}mt-40 {% endif %}{% if section.settings.vertical_content_position == 'end' %}mb-40{% endif %}">
                    <h4 class="banner_heading text-{%- if section.settings.heading_font_size != 1 -%}{{ section.settings.heading_font_size }}{%- endif -%}xl mb-3.5" style="color: {{ section.settings.heading_color }}; font-weight: {{ section.settings.heading_font_weight }};">
                        <span>{{ block.settings.heading }}</span>
                    </h4>
                    <h2 class="my-14 banner_subheading text-{%- if section.settings.subheading_font_size != 1 -%}{{ section.settings.subheading_font_size }}{%- endif -%}xl mb-5 lg:leading-tight xl:leading-tight 2xl:leading-tight" style="color: {{ section.settings.subheading_color }}; font-weight: {{ section.settings.subheading_font_weight }};">
                        <span>{{ block.settings.sub_heading }}</span>
                    </h2>
                    <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="inline-block border rounded-{{ section.settings.button_border_radius }} py-2.5 px-5 h3 banner_button" style="font-weight: {{ section.settings.button_text_font_weight }}; color: {{ section.settings.button_text_color }}; border-color: {{ section.settings.button_border_color }}; {%- unless section.settings.button_bg_color == blank -%} background-color: {{ section.settings.button_bg_color }}; {%- endunless -%} padding: {{ section.settings.banner_button_size }};">
                        {{ block.settings.button_text }}
                    </a>
                </div>
            </div>
          </div>

          <div class="md:hidden block pb-6">
              <div class="relative">
                  <div>
                    {% if block.settings.small_image == blank and block.settings.large_image == blank %}
                      <div class="banner-img placeholder">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    {% else %}
                      <img 
                      class="banner-img"
                      alt="{%- if block.settings.small_image != blank -%}{{ block.settings.small_image.alt | escape }}{%- else -%}{{ block.settings.large_image.alt | escape }}{%- endif -%}"
                      src="{%- if block.settings.small_image != blank -%}{{ block.settings.small_image | img_url: '720x' }}{%- else -%}{{ block.settings.large_image | img_url: '720x' }}{%- endif -%}"
                      srcset="{%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 180 -%}{{ block.settings.small_image | img_url: '180x' }} 180w{% endif -%}{%- elsif block.settings.large_image.width >= 180 -%}{{ block.settings.large_image | img_url: '180x' }} 180w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 360 -%}{{ block.settings.small_image | img_url: '360x' }} 360w{% endif -%}{%- elsif block.settings.large_image.width >= 360 -%}{{ block.settings.large_image | img_url: '360x' }} 360w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 540 -%}{{ block.settings.small_image | img_url: '540x' }} 540w{% endif -%}{%- elsif block.settings.large_image.width >= 540 -%}{{ block.settings.large_image | img_url: '540x' }} 540w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 720 -%}{{ block.settings.small_image | img_url: '720x' }} 720w{% endif -%}{%- elsif block.settings.large_image.width >= 720 -%}{{ block.settings.large_image | img_url: '720x' }} 720w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 900 -%}{{ block.settings.small_image | img_url: '900x' }} 900w{% endif -%}{%- elsif block.settings.large_image.width >= 900 -%}{{ block.settings.large_image | img_url: '900x' }} 900w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 1080 -%}{{ block.settings.small_image | img_url: '1080x' }} 1080w{% endif -%}{%- elsif block.settings.large_image.width >= 1080 -%}{{ block.settings.large_image | img_url: '1080x' }} 1080w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{%- if block.settings.small_image.width >= 1125 -%}{{ block.settings.small_image | img_url: '1125x' }} 1125w{% endif -%}{%- elsif block.settings.large_image.width >= 1125 -%}{{ block.settings.large_image | img_url: '1125x' }} 1125w{%- endif -%}
                      {%- if block.settings.small_image != blank -%}{{ block.settings.small_image | img_url: 'master' }} {{ block.settings.small_image.width }}w {{ block.settings.small_image.width }}h {% else %} {{ block.settings.large_image | img_url: 'master' }} {{ block.settings.large_image.width }}w {{ block.settings.large_image.width }}h{%- endif -%}"
                      loading="lazy"
                      width="{%- if block.settings.small_image != blank -%}{{ block.settings.small_image.width }}{%- else -%}{{ block.settings.large_image.width }}{%- endif -%}"
                      height="{%- if block.settings.small_image != blank -%}{{ block.settings.small_image.height | divided_by: block.settings.small_image.aspect_ratio }}{%- else -%}{{ block.settings.large_image.height | divided_by: block.settings.large_image.aspect_ratio }}{%- endif -%}">
                      {% endif %}
                  </div>
              </div>
              <div class="text-center container-fluid w-full h-full py-6 px-6 pb-0 relative">
                  <p class="mb-0.5 font-semibold banner_heading">{{ block.settings.sub_heading }}</p>
                  <h2 class="text-4xl mb-3 banner_subheading">{{ block.settings.heading }}</h2>
                  <a href="#" class="block border rounded-{{ section.settings.button_border_radius }} py-2.5 px-5 banner_button">
                      {{ block.settings.button_text }}
                  </a>
              </div>
          </div>
      </div>
  {% endfor %}

  {% comment %}
    {% if images_count > 1 %}
      <div class="flex justify-center">
          <div class="flex md:absolute md:flex-col md:z-10 md:right-16 md:top-1/2">
              <span class="md:block mx-4 md:mx-0 md:mb-4 dot dot-active" data-index="0"></span>
              <span class="md:block mx-4 md:mx-0 md:mb-4 dot" data-index="1"></span>
              {% if images_count == 3 %}<span class="md:block mx-4 md:mx-0 dot" data-index="2"></span>{% endif %}
          </div>
      </div>
    {% endif %}
  {% endcomment %}
  </div>

  <script src="{{ 'banner-slider.js' | asset_url }}" defer></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "max_blocks": 1,
  "settings": [
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "id": "heading_font_size",
      "type": "range",
      "min": 1,
      "max": 9,
      "step": 1,
      "unit": "t:sections.image-banner.settings.heading_font_size.unit",
      "default": 8,
      "label": "t:sections.image-banner.settings.heading_font_size.label"
    },
    {
      "id": "subheading_font_size",
      "type": "range",
      "min": 1,
      "max": 9,
      "step": 1,
      "unit": "t:sections.image-banner.settings.subheading_font_size.unit",
      "default": 4,
      "label": "t:sections.image-banner.settings.subheading_font_size.label"
    },
    {
      "id": "heading_color",
      "type": "color",
      "label": "t:sections.image-banner.settings.heading_color.label",
      "default": "#000"
    },
    {
      "id": "subheading_color",
      "type": "color",
      "label": "t:sections.image-banner.settings.subheading_color.label",
      "default": "#000"
    },
    {
      "id": "button_text_color",
      "type": "color",
      "label": "t:sections.image-banner.settings.button_text_color.label",
      "default": "#000"
    },
    {
      "id": "heading_font_weight",
      "type": "range",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400,
      "label": "t:sections.image-banner.settings.heading_font_weight.label",
      "info": "t:sections.image-banner.settings.heading_font_weight.info"
    },
    {
      "id": "subheading_font_weight",
      "type": "range",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400,
      "label": "t:sections.image-banner.settings.subheading_font_weight.label",
      "info": "t:sections.image-banner.settings.subheading_font_weight.info"
    },
    {
      "id": "button_text_font_weight",
      "type": "range",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400,
      "label": "t:sections.image-banner.settings.button_text_font_weight.label",
      "info": "t:sections.image-banner.settings.button_text_font_weight.info"
    },
    {
      "id": "banner_heading_font",
      "label": "t:sections.image-banner.settings.banner_heading_font.label",
      "type": "font_picker",
      "default": "rubik_n4"
    },
    {
      "id": "banner_subheading_font",
      "label": "t:sections.image-banner.settings.banner_subheading_font.label",
      "type": "font_picker",
      "default": "rubik_n4"
    },
    {
      "id": "banner_button_font",
      "label": "t:sections.image-banner.settings.banner_button_font.label",
      "type": "font_picker",
      "default": "rubik_n4"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header3.content"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "t:sections.image-banner.settings.button_bg_color.label"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "t:sections.image-banner.settings.button_border_color.label",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "button_border_radius",
      "options": [
        {
          "value": "none",
          "label": "t:sections.image-banner.settings.button_border_radius.option__1.label"
        },
        {
          "value": "lg",
          "label": "t:sections.image-banner.settings.button_border_radius.option__2.label"
        },
        {
          "value": "2xl",
          "label": "t:sections.image-banner.settings.button_border_radius.option__3.label"
        },
        {
          "value": "full",
          "label": "t:sections.image-banner.settings.button_border_radius.option__4.label"
        }
      ],
      "label": "t:sections.image-banner.settings.button_border_radius.label",
      "default": "none",
      "info": "t:sections.image-banner.settings.button_border_radius.info"
    },
    {
      "type": "select",
      "id": "banner_button_size",
      "options": [
        {
          "value": "0.6rem 0.9rem",
          "label": "t:sections.image-banner.settings.banner_button_size.option__1.label"
        },
        {
          "value": "1.2rem 1.8rem",
          "label": "t:sections.image-banner.settings.banner_button_size.option__2.label"
        },
        {
          "value": "2.4rem 3.6rem",
          "label": "t:sections.image-banner.settings.banner_button_size.option__3.label"
        }
      ],
      "label": "t:sections.image-banner.settings.banner_button_size.label",
      "default": "2.4rem 3.6rem"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header2.content"
    },
    {
      "type": "select",
      "id": "vertical_content_position",
      "options": [
        {
          "value": "start",
          "label": "t:sections.image-banner.settings.vertical_content_position.option__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.vertical_content_position.option__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.image-banner.settings.vertical_content_position.option__3.label"
        }
      ],
      "label": "t:sections.image-banner.settings.vertical_content_position.label",
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_content_position",
      "options": [
        {
          "value": "start",
          "label": "t:sections.image-banner.settings.horizontal_content_position.option__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.horizontal_content_position.option__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.image-banner.settings.horizontal_content_position.option__3.label"
        }
      ],
      "label": "t:sections.image-banner.settings.horizontal_content_position.label",
      "default": "start"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.image-banner.blocks.slide.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "large_image",
          "label": "t:sections.image-banner.blocks.slide.settings.large_image.label",
          "info": "t:sections.image-banner.blocks.slide.settings.large_image.info"
        },
        {
          "type": "image_picker",
          "id": "small_image",
          "label": "t:sections.image-banner.blocks.slide.settings.small_image.label",
          "info": "t:sections.image-banner.blocks.slide.settings.small_image.info"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.image-banner.blocks.slide.settings.heading.label",
          "default": "Slideshow heading",
          "info": "t:sections.image-banner.blocks.slide.settings.heading.info"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.image-banner.blocks.slide.settings.sub_heading.label",
          "default": "Slideshow sub-heading",
          "info": "t:sections.image-banner.blocks.slide.settings.sub_heading.info"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.image-banner.blocks.slide.settings.button_text.label",
          "default": "Button Text",
          "info": "t:sections.image-banner.blocks.slide.settings.button_text.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-banner.blocks.slide.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ],
  "templates": ["index"]
}
{% endschema %}
